*{
    margin: 0;
    padding: 0;
}

h2{
    margin: 20px 8px;
}

h3{
    margin: 19px 8px;
}

p{
    margin: 16px 8px;
}

.list_ul div ul{
    margin: 16px 8px;
    padding-left: 48px;
}

.list_ol_padrao ol{
    margin: 16px 8px;
    padding-left: 48px;
}
.ol_type ol{
    margin: 16px 8px;
    padding-left: 48px;
}

.list_dl dl{
    margin-left: 8px;
}

.list_dl dl dd{
    margin-left: 48px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px 10px;
    margin: 10px;
}
a:hover{
    background-color: rgba(37, 37, 114, 0.562);
}